.ArticleCard__football,
.ArticleCard__coding,
.ArticleCard__cooking {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8%;
  text-align: left;
  border-bottom: 8px ridge snow;
  background-repeat: no-repeat;
  background-size: 80px;
  background-origin: content-box;
}

.ArticleCard__football {
  background-image: url(https://cdn-icons-png.flaticon.com/512/33/33736.png);
}
.ArticleCard__coding {
  background-image: url(https://cdn-icons-png.flaticon.com/512/4396/4396623.png);
}
.ArticleCard__cooking {
  background-image: url(https://cdn-icons-png.flaticon.com/512/113/113339.png);
}

.ArticleCard__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: larger;
  padding-bottom: 10px;
  font-size: medium;
  text-align: right;
  padding-left: 100px;
}

.ArticleCard__link {
  text-transform: uppercase;
  font-size: large;
  text-decoration: none;
  color: firebrick;
}

.ArticleCard__wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.ArticleCard__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.ArticleCard__users {
  padding-left: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.ArticleCard__author {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: x-large;
  color: firebrick;
  text-decoration-color: black;
  text-decoration-line: overline;
  text-align: right;
}

.ArticleCard__topic {
  font-size: x-large;
}

p {
  margin: 2px;
}
