.ArticleList {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ArticleList__h3 {
  font-size: 3em;
  padding-bottom: 10px;
  margin: 15px;
  border-bottom: groove grey 10px;
}

.ArticleList__articleCardWrapper {
  align-content: center;
  width: auto;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  column-gap: 10px;
  row-gap: 15px;
}

.ArticleList__button_wrapper {
  margin: auto;
}

.ArticleList__p {
  margin-top: 10px;
  margin-bottom: 0;
}

.next,
.prev {
  font-size: 20px;
  border: solid 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 110px;
}

@media only screen and (max-width: 1170px) {
  .ArticleList__articleCardWrapper {
    grid-template-columns: 380px 380px;
    column-gap: 0;
    row-gap: 0;
  }
}

@media only screen and (max-width: 770px) {
  .ArticleList__articleCardWrapper {
    grid-template-columns: 380px;
    column-gap: 0;
    row-gap: 0;
  }
}

@media only screen and (max-width: 480px) {
  .ArticleList {
    display: flex;
    flex-direction: column;
  }

  .ArticleList__articleCardWrapper {
    display: flex;
    flex-direction: column;
  }

  .ArticleList__button_wrapper {
    margin-bottom: 15%;
  }

  .next,
  .prev {
    margin-left: 50px;
    margin-right: 50px;
  }
}
