.ArticlePage {
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  max-width: 750px;
  margin-top: 200px;
}

.ArticlePage__headerWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ArticlePage__header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 35px;
}

.ArticlePage__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.ArticlePage__author {
  margin: 0;
  font-size: x-large;
  color: firebrick;
  text-decoration-color: black;
  text-decoration-line: overline;
}

.ArticlePage__votes {
  align-self: center;
  font-size: larger;
}

.ArticlePage__main {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.ArticlePage__body {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.05em;
}

.ArticlePage__comments {
  align-self: center;
  margin: 5%;
  padding: 10px;
  color: white;
  background: firebrick;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  font-size: large;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .ArticlePage {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 800px;
  }
}

@media only screen and (max-width: 480px) {
  .ArticlePage {
    margin-top: 15%;
  }
  .ArticlePage__comments {
    margin-bottom: 25%;
  }
}
