.CommentForm {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 10px;
}

.CommentForm__input {
  border-radius: 5px;
  width: 120px;
  background: white;
  align-self: center;
  padding: 10px;
  box-sizing: border-box;
  background-image: none;
  transition-property: background-color, width, font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.CommentForm__input:focus {
  background-color: floralwhite;
  width: 800px;
  font-size: larger;
}

.CommentForm__submit {
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  width: auto;
  align-self: center;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .CommentForm__input:focus {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .CommentForm__input:focus {
    width: 320px;
  }
}
