.CommentCard {
  padding: 10px;
  border-bottom: 3px solid lightgray;
  text-align: start;
  width: 520px;
}

.CommentCard__author {
  margin-top: 25px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CommentCard__linkAuthor,
.CommentCard__linkYou {
  align-self: center;
  margin-bottom: 5%;
  padding: 10px;
  color: white;
  background: firebrick;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  font-size: large;
  margin-top: 10px;
}

.CommentCard__linkYou {
  background: green;
  margin-bottom: 10%;
  font-size: larger;
}

.CommentCard__body {
  margin-top: 20px;
}

.CommentCard__deleted {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .CommentCard {
    width: 100%;
  }
}
