.CommentForm {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 10px;
}

input {
  border-radius: 5px;
  width: 120px;
  background: white;
  align-self: center;
  padding: 10px;
  box-sizing: border-box;
  background-image: none;
  transition-property: background-image, background-color, width, font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

input:focus {
  background-size: 48px;
  background-repeat: no-repeat;
  background-color: floralwhite;
  background-position: 0% 0%;
  width: 320px;
  font-size: larger;
}

.CommentForm__submit {
  padding: 5px;
  font-size: large;
  width: auto;
  align-self: center;
  margin-top: 10px;
}
