.App {
  text-align: center;
}

.voter {
  float: right;
}

.topic__list {
  position: absolute;
  top: 50%;
  margin-left: 10%;
  margin-right: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link {
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 3px solid #333;
  background-color: #333;
  float: left;
}

.link:hover {
  text-transform: uppercase;
  border-radius: 5px;
  align-items: center;
  background-color: gray;
  border: 3px solid gray;
}

.article__page {
  height: 100%;
  margin: 10%;
  border-radius: 10px;
  text-align: start;
  color: black;
  padding: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 15%;
}
.comment__list {
  height: 100%;
  margin: 10%;
  border-radius: 10px;
  text-align: start;
  color: black;
  padding: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 15%;
}
.comment__card {
  padding: 10px;
  margin: 5%;
  border: 3px solid black;
  border-radius: 10px;
}
.comment-deleted {
  text-align: center;
  width: 100%;
}
.comment-delete,
.comment-votes {
  float: right;
}
.link_comments {
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.article-votes-page {
  text-align: center;
  align-self: center;
}

.article-button-page {
  align-self: right;
}
/* form {
  margin: 20px;
  align-self: center;
} */

/* .link-myacc {
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 3px solid #333;
  background-color: #333;

  text-decoration: none;
  color: white;
  padding: 5px;
  border: 3px solid #333;
  background-color: #333;
  right: 0%;
  padding-inline-end: 10px;
}
.link-myacc:hover {
  background-color: gray;
  border: 3px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.bottombar {
  position: fixed;
  width: 100%;
  float: right;
  top: 96%;
  list-style-type: none;
  border: solid 1px #333;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  flex-direction: row-reverse;
}
