.Delete-commment,
.Delete-article {
  float: right;
  display: flex;
  text-align: center;
  font-size: large;
  justify-content: space-around;
}

.Delete-commment {
  flex-direction: row-reverse;
}
.Delete-article {
  flex-direction: column;
}

.Delete {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-color: white;
  border-width: 0;
  background-color: white;
}

.Delete {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1345/1345823.png);
}
